<header>
 		<div class="has-text-centered"> <!--เอาdivมาคลุม ไม่รู้จะใช้ไร ใช้ div แถวใครแถวมัน-->
 		  <img src="/assets/images/logo.png" alt="" width="145" height="auto"> <!-- in line เอารูปมาว่างต่อกันก็ต่อต่อเป็นแถวๆไปเลย-->
 		</div>
 		<nav class="navbar-tabs">
 			<a href="#" class="navbar-item">WORK</a> <!-- a ทำใ้กดเข้าลิงค์ได้ -->
 			<a href="#" class="navbar-item">INTERVIEW</a>
 			<a href="#" class="navbar-item">LIVING</a>
 			<a href="#" class="navbar-item">SOCIAL</a>
 			<a href="#" class="navbar-item">TRAVEL</a>
 			<a href="#" class="navbar-item">VIDEO</a>
 			<a href="#" class="navbar-item">ACTIVITIES</a>
 			<a href="#" class="navbar-item">MAGAZINE</a>	
 		</nav>
 	</header>